body {
	background-color: #fff!important;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #394047;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	text-rendering: optimizelegibility;
}

.green-text {
	color: #4eb929!important;
}

.auth header {
	padding: 18% 0;
	background-image: url('../svg/logos/logo-short-grey.svg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.auth header .logo-holder img {
    height: 60px;
    width: 80px
}

.auth .header-title {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}

.auth .bottom-bar {
	padding: 15px 0;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #394047;
	color: #fff;
}

.auth .bottom-bar span {
	display: block;
}