body {
	background-color: #fff!important;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #394047;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	text-rendering: optimizelegibility;
}

body.auth {
	padding-bottom: 80px;
}

.container {
	padding: 0 15px;
}

.app {
	background-color: #f0f1f3!important;
}

.app header {
	overflow: hidden;
	height: 65px;
}

.app header .left,
.app header .right {
	line-height: 65px;
	width: 50%;
	float: left;
}

.app header .page-title {
	line-height: 65px;
	font-size: 18px;
	font-weight: 700;
}

a {
	color: #4eb929;
}

a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

.green-text {
	color: #4eb929!important;
}

.auth {
	background-image: url('../svg/logos/logo-short-grey.svg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top;
}

.auth header {
	padding: 10% 0 0;
}

.auth header .logo-holder img {
    height: 60px;
    margin-bottom: 20px;
}

.auth .header-title {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}

.auth .bottom-bar {
	padding: 15px 0;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #394047;
	color: #fff;
}

.auth .bottom-bar span {
	display: block;
}

.auth form {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

@media (min-width: 768px) {
	body {
		font-size: 1.3em!important;
	}
	.auth form {
		width: 50%;
	}

	.btn {
		padding: 12px 20px!important;
	}
}

.auth .login, .auth .register {
	margin-top: 12%;
}

.auth .login .header-title,
.auth .register .header-title {
	font-weight: 500;
	margin-bottom: 20px;
}

input, select {
	border: none!important;
	border-radius: 0!important;
	border-bottom: 1px solid #ced4da!important;
	font-size: 1em!important;
}

input:focus, select:focus {
	outline: none!important;
	box-shadow: none!important;
	border-bottom: 1px solid #4eb929!important;
}

.auth form input {
	margin-bottom: 15px!important;
}

.btn {
	box-shadow: none;
	padding: 8px 15px;
	margin-top: 20px;
	border: 1px solid transparent!important;
	font-weight: 600;	
}

.btn:focus, .btn:hover {
	color: initial;
	outline: none;
	box-shadow: none;
}

.btn.btn-submit {
	width: 100%;
	border-radius: 25px;
}

.btn-green {
	background-color: #4eb929!important;
	color: #fff;
}
.btn-green-trans {
	background-color: transparent!important;
	color: #4eb929;
	border: 1px solid #4eb929!important;
}

.flash-errors, .flash-success {
  display: none;
  color: rgb(218, 73, 49);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 16px;
  border-radius: 4px;
  background: rgb(255, 240, 238);
  border-left: 4px solid rgb(218, 73, 49);
  margin-left: 10px;
  margin-right: 10px;
}

.flash-errors.shown, .flash-success.shown {
  display: block;
}

.flash-success {
  background-color: rgba(78, 185, 41, 0.1);
  color: #4eb929;
  border-left: 4px solid #4eb929;

}

.flash-errors p, .flash-success p {
  margin: 0;
  padding: 2px 16px;
}

.flash-errors p:first-child, .flash-success p:first-child {
  padding-top: 10px;
}

.flash-errors p:last-child, .flash-success p:last-child {
  padding-bottom: 10px;
}

.checkbox-holder {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.checkbox-holder .checkbox {
  margin: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 3px;
  background-image: url('../images/icons/dot.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox-holder .checkbox.checked {
  background-image: url('../images/icons/dot-white.png');
  border: 1px solid #4eb929;
  background-color: #4eb929;
}

.checkbox-holder .checkbox-label {
    margin: 0;
    padding: 0 6px 0 21px;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
}

.card {
	width: 100%;
    background-color: #fff!important;
    border: none;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
}

.user-profile, .user-balance {
    display: inline-flex;
    align-items: center;
}

.user-profile .user-pic, .user-balance .user-currency {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
    border-radius: 50%;
    background-color: #4eb929;
    color: rgba(255, 255, 255, .8);
}

.user-profile .user-details, .user-balance .balance-details {
    padding-left: 20px;
}

.user-profile .user-details .user-name, .user-balance .balance-details .balance-amount {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.lazyload {
    background-image: url(../svg/loaders/loader.svg);
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: 60px;
    min-height: 205px;
}

.lazyload.loaded {
    background-image: url(../svg/logos/logo-short-grey.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center right;
}

.dashboard .activity-holder {
    padding: 0;
}

.dashboard .activity-holder .title {
    font-size: 14px;
    padding-left: 28px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.dashboard .activity-holder .title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-image: url(../svg/icons/chat.svg);
    background-repeat: no-repeat;
    background-size: 20px;
}

.dashboard .activity-holder .activity-list {
    margin-top: 30px;
    padding-left: 0;
}

.dashboard .activity-holder .activity-list li.single-activity {
    padding: 0;
    list-style: none;
}

.dashboard .activity-holder .activity-list li .sub-title {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

.dashboard .activity-holder .activity-list li .sub-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
    background-image: url(../svg/icons/time.svg);
    background-repeat: no-repeat;
    background-size: 24px;
}

.dashboard .activity-holder .activity-list ul {
    position: relative;
}

.dashboard .activity-holder .activity-list ul:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #4eb929;
}

.dashboard .activity-holder .activity-list ul li {
	padding: 15px 0;
    list-style: none;
    padding-left: 18px;
    position: relative;
}

.dashboard .activity-holder .activity-list ul li:before {
    width: 12px;
    height: 1px;
    position: absolute;
    background-color: #4eb929;
    content: '';
    left: 0;
    top: 50%;
}

.dashboard .activity-holder .activity-list ul li .left {
	width: 30%;
	margin-left: 20px;
}
.dashboard .activity-holder .activity-list ul li .right {
	width: 60%;
	text-align: right;
}