
body {
  background-color: #f0f1f3!important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #394047;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

body.auth {
  height: 100vh;
  display: grid;
}

a:hover {
  cursor: pointer;
}

.dropdown-btn {
  cursor: pointer;
  position: relative;
  padding-right: 25px!important;
}

.dropdown-btn::after {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url('../images/icons/small-chevron-down.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 8px;
  top: 35%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    min-width: 130px;
    text-align: left;
    width: 100%;
    list-style: none;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
}

.dropdown-content.show {
  display: inline-table;
}

.dropdown-content li {
  padding: 7px 14px;
  cursor: pointer;
  width: 100%;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: #f8f9fa;
}

.dropdown-content li a {
  width: 100%;
  display: block;
  color: inherit;
}

.dropdown-content li a:hover,
.dropdown-content li a:focus {
  text-decoration: none;    
}

.small-header {
  color: rgb(107, 117, 142);
  font-size: 12px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
  margin:0;
  padding: 0;
}

header {
  height: 88px;
  width: 100%;
  background-color: #fff;
}

header .left, header .center, header .right {
  padding: 20px 0;
  height: 88px;
}


header .right, header .center {
  padding: 20px 0;
}

header .left .logo {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}

header .left .logo img {
  vertical-align: middle;
}

header .right .user-menu .dropdown-btn {
  padding: 0!important;
}

header .right .user-menu .dropdown-btn::after {
  display: none;
}

header .right .user-pic {
  width: 24px;
  height: 24px;
}

header a.nav-link {
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    padding: 0 6px;
}

header .notification {
    position: relative;
}

header .notification a.nav-link {
  height: 20px;
  width: 22px;
  background-image: url('../svg/icons/alerts.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #888888;
  background-size: 16px;
  border-radius: 2px;
  margin: 0 18px;
}

header .notification.alerts a.nav-link {
  background-image: url('../svg/icons/alerts-red.svg');
  background-color: #fce8e6;
}

header .notification p {
  display: none;
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  color: #d93025;
  margin: 0;
  text-align: center;
  width: 100%;
}

header .notification .dropdown-btn:after {
  display: none;
}

header .notification .dropdown-content {
  font-size: 12px;
  padding: 20px;
  min-width: 250px;
}

header .notification .dropdown-content li {
  margin-bottom: 6px;
  border-radius: 3px;
  font-weight: 600;
}

header .notification .dropdown-content li.warning {
  background-color: #fce8e6;
  color: #d93025;
}

header .notification .dropdown-content li.success {
  background-color: rgba(78, 185, 41, 0.1);
  color: #4eb929;
}

header .notification.alerts p {
  display: block;
}

header a.nav-link.balance {
  padding: 0 22px 0 0;
  color: #4eb929;
  font-weight: 700;
}

header a.nav-link.lang {
  padding: 0;
  position: relative;
}

header a.nav-link.lang .lang-select {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
}

header a.nav-link.lang .icon {
  margin-left: 10px;
}

.top-search-holder {
  display: flex;
  padding: 6px 20px;
}

.top-search-holder input {
  border: none;
  background-color: transparent;
}

.top-search-holder input:focus {
  box-shadow: none;
  background-color: transparent;
}

.top-search-holder .input-group .input-group-text {
  background-color: transparent;
  border: none;
}

.top-search-holder .input-group {
  width: auto;
}

.top-search-holder .input-group.icon {
  width: auto;
}

.top-search-holder .input-group.icon img {
  width: 22px;
}

.top-search-holder .input-group .dropdown-btn {
  text-align: right;
  padding: 0;
}

.top-search-holder .input-group .dropdown-btn .icon {
  position: relative;
  margin-left: 10px;
}

header nav ul {
  float: right;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

.secondary-nav, .third-nav {
  overflow: hidden;
}

.third-nav {
  padding: 0;
  margin-bottom: 10px;
}

.third-nav ul {
  width: 100%;
  border-top: 1px solid #dee2e6;
}

.third-nav ul li a {
  color: #8e9091;
  margin-right: 10px;
  padding: 15px 10px 15px 0;
  position: relative;
  top: 2px;
  font-weight: 600;
}

.third-nav ul li input {
  border: 1px solid #8e9091;
  border-radius: 25px;
  box-shadow: none;
  padding: 2px 5px;
  text-align: center;
}

.third-nav ul li a.active, .third-nav ul li a:hover, .third-nav ul li a:focus {
  color: #4eb929;
  text-decoration: none;
}

.secondary-nav ul, .third-nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.secondary-nav ul {
  padding: 15px 0;
}

.secondary-nav ul li, .third-nav ul li {
  display: inline-flex;
  align-items: center;
}

.secondary-nav ul li a {
    padding: 8px 12px 8px 34px;
    vertical-align: middle;
    background-color: #ffffff;
    margin-right: 10px;
    color: #888888;
    border-radius: 3px;
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}

.secondary-nav ul li a:before {
  position: absolute;
  left: 6px;
  top: 0;
  content: '';
  width: 20px!important;
  height: 100%;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.secondary-nav ul li a:hover, .secondary-nav ul li a:focus, .secondary-nav ul li a.active {
  background-color: #377dff;
  margin-right: 10px;
  color: #fff;
  outline: none;
  text-decoration: none;
  box-shadow: 0 4px 17px rgba(142, 144, 145, 0.35)!important;
}

.secondary-nav ul li a.deposit, .secondary-nav ul li a.withdraw {
  padding: 8px 12px;
}

.secondary-nav ul li a.nav-dashboard:before {
  background-image: url('../svg/icons/home.svg');
}

.secondary-nav ul li a.nav-dashboard.active:before,
.secondary-nav ul li a.nav-dashboard:hover:before,
.secondary-nav ul li a.nav-dashboard:focus:before {
  background-image: url('../svg/icons/home-white.svg');
}

.secondary-nav ul li a.nav-history:before {
  background-image: url('../svg/icons/history.svg');
}

.secondary-nav ul li a.nav-history.active:before,
.secondary-nav ul li a.nav-history:hover:before,
.secondary-nav ul li a.nav-history:focus:before {
  background-image: url('../svg/icons/history-white.svg');
}

.secondary-nav ul li a.nav-send-receive:before {
  background-image: url('../svg/icons/send.svg');
}

.secondary-nav ul li a.nav-send-receive.active:before,
.secondary-nav ul li a.nav-send-receive:hover:before,
.secondary-nav ul li a.nav-send-receive:focus:before {
  background-image: url('../svg/icons/send-white.svg');
}

.secondary-nav ul li a.nav-exchange:before {
  background-image: url('../images/icons/exchange.png');
}

.secondary-nav ul li a.nav-exchange.active:before,
.secondary-nav ul li a.nav-exchange:hover:before,
.secondary-nav ul li a.nav-exchange:focus:before {
  background-image: url('../images/icons/exchange-white.png');
}

.secondary-nav ul li a.nav-friends:before {
  background-image: url('../svg/icons/friends.svg');
}

.secondary-nav ul li a.nav-friends.active:before,
.secondary-nav ul li a.nav-friends:hover:before,
.secondary-nav ul li a.nav-friends:focus:before {
  background-image: url('../svg/icons/friends-white.svg');
}

.secondary-nav ul li a.nav-settings:before {
  background-image: url('../svg/icons/settings.svg');
}

.secondary-nav ul li a.nav-settings.active:before,
.secondary-nav ul li a.nav-settings:hover:before,
.secondary-nav ul li a.nav-settings:focus:before {
  background-image: url('../svg/icons/settings-white.svg');
}

.secondary-nav ul li a .icon {
  margin-right: 10px;
  position: relative;
  top: -2px;
  height: 15px;
}

.secondary-nav ul.right li:last-child a {
  margin-right: 0;
}

.secondary-nav ul.right li a.deposit {
  background-color: #4eb929;
  color: #fff;
}

.secondary-nav ul.right li a.withdraw {
  background-color: #377dff;
  color: #fff;
}

.third-nav ul li a.nav-add {
}

main {
  padding-bottom: 80px;
  min-height: calc(100vh - 281px);
}

main .lazyload {
  background-image: url('../svg/loaders/loader.svg');
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: 60px;
  min-height: 205px;
}

main .lazyload > * {
  opacity: 0;
  transition:  0.5s;
}

main .lazyload.loaded {
  background-image: url('../svg/logos/logo-short-grey.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
}

main .lazyload.loaded > * {
  opacity: 1;
}

main .border-top {
  border-top: 2px solid #e9ecee;
}

main .app_content {
  padding: 0;
}

.app-top {
  padding-top: 15px;
}

.user-profile,
.user-balance {
  display: inline-flex;
  align-items: center;
}

.user-profile .user-pic,
.user-balance .user-currency {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: 900;
  border-radius: 50%;
  background-color: #4eb929;
  color: rgba(255, 255, 255, .8);
}

.user-profile .user-details,
.user-balance .balance-details {
  padding-left: 20px;
}

.user-profile .user-details .user-name,
.user-balance .balance-details .balance-amount {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.dashboard .activity-holder {
  padding: 35px 20px 20px 40px;
}

.dashboard .activity-holder .title {
  font-size: 14px;
  padding-left: 28px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

.dashboard .activity-holder .title .view-more {
  color: #394047;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

.dashboard .activity-holder .title .view-more img {
  position: relative;
  width: 14px;
  top: -1px;
}

.dashboard .activity-holder p .view-more:hover,
.dashboard .activity-holder p .view-more:focus {
  color: #377dff;
  text-decoration: none;
}

.dashboard .activity-holder .title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-image: url('../svg/icons/chat.svg');
  background-repeat: no-repeat;
  background-size: 20px;
}

.dashboard .activity-holder .title .icon {
  width: 40px;
  font-size: 25px;
}

.dashboard .activity-holder .activity-list {
  margin-top: 30px;
  padding-left: 0;
}

.dashboard .activity-holder .activity-list li {
  padding: 15px 0;
  list-style: none;
}

.dashboard .activity-holder .activity-list li.single-activity {
  padding: 0;
}

.dashboard .activity-holder .activity-list li .sub-title {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.dashboard .activity-holder .activity-list li .sub-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
  background-image: url('../svg/icons/time.svg');
  background-repeat: no-repeat;
  background-size: 24px;
}

.dashboard .activity-holder .activity-list ul {
  position: relative;
}

.dashboard .activity-holder .activity-list ul:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #4eb929;
}

.dashboard .activity-holder .activity-list ul li {
  padding-left: 18px;
  position: relative;
}

.dashboard .activity-holder .activity-list ul li:before {
    width: 12px;
    height: 1px;
    position: absolute;
    background-color: #4eb929;
    content: '';
    left: 0;
    top: 50%;
}

.transactions .card {
  padding: 0;
}

.transactions .no-transactions {
  line-height: 200px;
  font-size: 16px;
  color: #989898;
  text-transform: uppercase;
}

.transactions .side-search {
  display: grid;
}

.transactions .side-search form {
  display: inline-flex;
  align-items: center;
}

.transactions .side-search form .form-group {
  margin: 0 0 0 25px;
  width: -webkit-fill-available;
}

.transactions .side-search form .form-group:first-child {
  margin-left: 0;
}

/*.transactions .side-search form .form-group:last-child {
  min-height: 80px;
  display: flex;
  align-items: flex-end;
}*/

.transactions .side-search .dropdown-btn {
  border: 1px solid #eee;
  box-shadow: none;
  background-color: transparent;
  width: 100%;
  height: 50px;
  padding: 8px;
  font-weight: 500;
  border-radius: 3px;
}

.transactions .side-search .btn {
  height: 50px;
}

.transactions .side-search .btn span {
  position: relative;
  padding-left: 30px;
}

.transactions .side-search .btn span::before {
  content: '';
  position: absolute;
  z-index: 99;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  background-image: url('../images/icons/search-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.transactions .side-search input {
  border: 1px solid #eee;
  box-shadow: none;
  background-color: transparent;
  padding: 12px 8px;
  height: 50px;
  font-weight: 500;
  border-radius: 3px;
  display: block;
  width: 100%;
}

.transactions table {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.transactions table thead tr th, .transactions table tbody tr td {
  height: 69px;
  line-height: 69px;
  border-left: none;
  border-right: none;
}

.transactions table thead tr th {
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgb(107, 117, 142);
  text-transform: uppercase;
}

.transactions table thead tr th a {
  color: rgb(107, 117, 142);
}

.transactions table tbody tr:nth-child(even) {
  background-color: rgba(78, 185, 41, 0.07);
}

.transactions table tbody tr:last-child {
  border-bottom: none;
}

.transactions table thead tr th:first-child, .transactions table tbody tr td:first-child {
  padding-left: 30px;
}

.transactions table thead tr th:last-child, .transactions table tbody tr td:last-child {
  padding-right: 30px;
}

.transactions table tbody tr td {
  border-top: 1px solid #e9ecee;
  border-bottom: 1px solid #e9ecee;
  background-color: transparent;
}

.transactions table tbody tr td.amount {
  color: #394047;
}

.fade-text {
  color: #8e9091;
}

.transactions table tbody tr td .icon {
  position: relative;
  margin-right: 30px;
}

.pagination {
  padding: 30px 0;
  display: block;
}

.pagination .next-btn, .pagination .prev-btn {
  height: 38px;
  line-height: 38px;
  width: 89px;
  text-align: center;
  border: none;
  box-shadow: none;
  background-color: #e4e4e4;
  color: #394047;
  cursor: pointer;
  margin-left: 8px;

}

.pagination .next-btn img {
  margin-left: 8px;
}

.deposit .quick-pick p,
.deposit .methods p {
    background-color: #fff;
    width: 49%;
    text-align: center;
    border-radius: 0;
    float: left;
    padding: 0 2px;
    min-height: 70px;
    line-height: 70px;
    color: #8e9091;
    margin: 0 0 1px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
}

.deposit .methods,
.deposit .quick-pick {
  height: 420px;
  padding-left: 0;
  padding-right: 0;
  display: inherit;
}

.deposit .methods p {
  width: 100%;
  border-bottom: 1px solid #eceeee;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center center;
  border-left: 3px solid transparent;
}

.deposit .methods p img {
  height: 60px;
  padding-right: 10px;
}

.deposit .methods p .fee {
  float: right;
}

.deposit .quick-pick p:hover, .deposit .quick-pick p.active {
  border: 1px solid #4eb929;
  color: #4eb929;
  cursor: pointer;
}

.deposit .methods p:hover, .deposit .methods p.active {
  border-left-color: #4eb929;
  color: #4eb929;
  cursor: pointer;
}

.deposit-form .form {
  text-align: center;
}

.deposit-form .form #deposit_amount {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #F0F2F5;
  border-radius: 0;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 0;
  width: 250px;
  margin: 0 auto;
}

.deposit-form .form .form-group {
  overflow: inherit;
  padding: 10px 0;
}

.deposit-form .form input:focus {
  box-shadow: none;
}

.deposit-form .form .amount-label {
  position: relative;
  font-weight: 600;
  color: #77838f;
  font-size: 14px;
}

.dropdown-holder {
  width: fit-content;
  margin: 0 auto;
}

.deposit-form .dropdown-btn {
    background-color: #fff;
    height: 60px;
    position: relative;
    text-align: left;
    color: #000;
    width: auto;
    min-width: 350px;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
}

.deposit-form .dropdown-btn::after {
  top: 40%;
  right: 15px;
}

.deposit-form .method-select .dropdown-btn {
  height: 60px;
}

.deposit-form .dropdown-btn:hover, .deposit-form .form .dropdown-btn.active {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1)!important;
    border: 1px solid #fff;
}

.deposit-form .dropdown-content {
  width: 100%;
  text-align: left;
}

.deposit-form .method-select .dropdown-content img {
  height: 45px;
  width: 45px;
  padding-right: 10px;
}

.deposit-form .method-select .dropdown-content .id {
  color: #77838f;
  font-size: 14px;
}

.deposit-form .method-select .dropdown-content .add-new {
 background-color: #4eb929;
}

.deposit-form .method-select .dropdown-content .add-new a {
  color: #fff;
}

.deposit-form .method-select .dropdown-content .add-new a:hover {
  text-decoration: none;
}

.deposit-form .method-select .dropdown-content .add-new img {
  height: 16px;
  position: relative;
  top: -2px;
  padding-right: 3px;
}

.btn-blue {
  background-color: #377dff;
  border: 1px solid #377dff;
  height: 50px;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 0;
  cursor: pointer;
  border-radius: 5px;
}

.btn-blue:hover,
.btn-blue:focus {
      box-shadow: 0 4px 17px rgb(64, 149, 235, 0.5)!important;
}

.btn-green {
  background-color: #4eb929;
  border: 1px solid #4eb929;
  height: 50px;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 0;
  cursor: pointer;
  border-radius: 5px;
}

.btn-green:hover,
.btn-green:focus {
      box-shadow: 0 4px 17px rgba(78, 185, 41, 0.5)!important;
}

.deposit-form button.submit {
  min-width: 350px;
  height: 60px;
}

.deposit-form .dropdown-btn p {
    display: grid;
    margin: 0;
    padding-left: 10px;
    line-height: 17px;
    color: #444;
    padding-right: 25px;
    font-weight: 600;
    font-size: 14px;
}

.deposit-form .dropdown-btn p .label {
  position: relative;
  color: #77838f;
  font-size: 11px;
  font-weight: 500;
}

.deposit-form .dropdown-btn p .deposit-method-name,
.deposit-form .dropdown-btn p .currency-name {
    position: relative;
    display: block;
}

.deposit-form .dropdown-btn p .id {
  color: #77838f;
  font-size: 14px;
  font-size: 11px;
  font-weight: 500;
}

.deposit-form .dropdown-btn img.method-logo,
.deposit .currency-select img.currency-logo {
  height: 35px;
  width: 35px;
}

.deposit .currency-select .dropdown-content img.currency-logo {
  top: 0;
}

.deposit .currency-select .dropdown-content .currency-name {
  padding-left: 10px;
  font-size: 14px;
}

.deposit .method-select img.icon,
.deposit .currency-select img.icon {
  padding-left: 10px;
  position: absolute;
  right: 15px;
  top: 22px;
}

.deposit .method-select img.icon {
  top: 28px;
}

.deposit-result,
.add-friend-result {
  padding: 50px;
  min-height: 410px!important;
  overflow: hidden;
  border-radius: 5px;
}

.deposit-success,
.deposit-failed,
.add-friend-success,
.add-friend-failed {
  color: #444;
  text-transform: uppercase;
  font-size: 16px;
}

.deposit-success,
.add-friend-success {
  background-color: rgba(78, 185, 41, 0.5);
}

.deposit-failed,
.add-friend-failed {
  background-color: rgba(254, 114, 0, 0.5);
}

.deposit-success img,
.deposit-failed img {
  height: 70px;
}

.add-friend-success img,
.add-friend-failed img {
  height: 21px;
  margin-bottom: 20px;
}

.deposit-failed .btn {
    padding: 8px 12px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: 17px;
    background-position: 9px;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-color: #4eb929;
    color: #fff;
    min-width: 180px;
    font-size: 13px;
}

footer {
  background-color: #fff;
}

footer .logo img {
  margin-top: 20px;
  height: 85px;
  opacity: .6;
}

footer .footer-top {
  border-bottom: 1px solid #e9ecee;
  padding: 20px 0;
  color: #8e9091;
}
footer .footer-bottom {
  padding: 20px 0;
}

footer .footer-bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-bottom ul li {
  display: inline-block;
  margin-right: 8px;
}

footer .footer-bottom ul li.copy {
  margin-right: 30px;
}

footer .footer-bottom ul li a {
  color: #8e9091;
  font-size: 14px;
}

.np-modal-wrapper {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding-top: 219px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

.np-modal-wrapper.shown {
    display: block;
}

.np-modal {
  width: 100%;
  margin: 0 auto;
  max-width: 550px;
  min-height: 420px;
  padding-bottom: 30px; 
  background-color: rgb(240, 242, 245);
}

.np-modal-header {
  position: relative;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.np-modal-header .np-modal-close {
  position: absolute;
  right: 12px;
}

.deposit-method {
  width: 350px;
  margin: 0 auto;
}

.deposit-method .back {
  position: absolute;
  left: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #8e9091;
}

.deposit-method .back:hover {
  text-decoration: none;
}

.deposit-method .method-info {
  padding-bottom: 20px;
}

.deposit-method .method-info img {
  height: 30px;
}

.deposit-method .method-info span {
  text-transform: uppercase;
  font-size: 17px;
}

.deposit-method.form-250 {
  max-width: 250px;
  margin: 0 auto;
}

.deposit-insert .dropdown-holder .dropdown-btn {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #eee;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  min-width: 250px;
  display: inline-flex;
  position: relative;
}

.deposit-insert .dropdown-holder .dropdown-btn .method-logo {
  height: 35px;
}

.deposit-insert .dropdown-holder .dropdown-btn .deposit-method-name {
  padding: 5px 0;
  margin: 0;
  font-weight: 600;
  color: #8e9091;
  padding-left: 10px;
}

.deposit-insert .dropdown-holder .dropdown-btn .icon {
  position: absolute;
  right: 10px;
  top: 25px;
}

.app_content {
  min-height: 410px!important;
}

.creditcard-form {
  min-width: 480px;
  margin: 0 auto;
}

.creditcard-form .card-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.creditcard-form .card-front {
    position: relative;
    background-color: #fff;
    box-shadow: 3px 0 0 rgba(0, 0, 0, .05);
    border-radius: 12px;
    z-index: 20;
    border: 1px solid #eee;
}

.creditcard-form .card-back {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #e0e0e0;
    text-align: right;
    transition: all 500ms;
}

.creditcard-form .card-side {
    width: 76%;
    max-width: 380px;
    border-radius: 10px;
    padding: 24px 32px;
}

.creditcard-form .card-back:after {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #666;
}

.creditcard-form .form-group {
  margin-bottom:  1rem;
}

.creditcard-form .form-control {
  width: 100%;
  margin: 0;
  padding: 8px 16px;
  border: 1px solid #eee;
  outline: 0 none;
  font-weight: 500;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.65;
  color: #142649;
  background: #FFFFFF;
  box-shadow: 0 0 0 transparent;
  transition: all 0.15s ease;
  height: 48px;
}

.creditcard-form .card-expiration {
 display: flex;
 float: right;
}

.creditcard-form .expiration-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.creditcard-form label {
  margin: 0;
  line-height: 40px;
  font-size: 12px;
  padding-right: 10px;
  font-weight: 600;
  color: #6B758E;
  text-transform: uppercase;
}

.creditcard-form .expiration-fields__input {
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
    box-shadow: none;
    font-size: 14px;
    background: transparent;
}

.creditcard-form .cvv-input {
  position: absolute;
  bottom: 25px;
  width: 70px;
  right: 25px;
}

.creditcard-form label.error {
  display: none!important;
}

.add-card-btn {
  background-color: #4eb929!important;
  border: none;
  width: 250px;
  height: 50px!important;
  color: #fff;
  margin-top: 20px;
}

.btn {
  height: 40px;
  font-weight: 500;
  padding: 5px 30px;
  border-radius: 3px;
}

.pagination {
  text-align: right;
}

.pagination-next a,
.pagination-prev a {
  height: 38px;
  position: relative;
  padding: 5px 15px;
  color: #394047;
  overflow: hidden;
  background-color: #c9c9c9;
}

.pagination-next a {
  padding-right: 30px;
  text-align: left;
}

.pagination-next a::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 35%;
  background-image: url('../images/icons/chevron-right.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.pagination-prev a {
  padding-left: 32px;
  text-align: right;
}

.pagination-prev a::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 15px;
  top: 35%;
  background-image: url('../images/icons/chevron-left.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.pagination-btn a:hover,
.pagination-btn a:focus {
  text-decoration: none;
}

.card {
  width: 100%;
  background-color: #fff!important;
  border: none;
  border-radius: 5px;
  /*box-shadow: rgba(33, 102, 212, 0.15) 0px 4px 16px;*/
  padding: 25px;
}

.full-width {
  width: 100%!important;
}

.checkbox-holder {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.checkbox-holder .checkbox {
  margin: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 3px;
  background-image: url('../images/icons/dot.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox-holder .checkbox.checked {
  background-image: url('../images/icons/dot-white.png');
  border: 1px solid #4eb929;
  background-color: #4eb929;
}

.checkbox-holder .checkbox-label {
  margin: 0;
  padding: 0 6px;
  font-weight: 600;
  cursor: pointer;
}

/*============ Auth ======================*/

.auth .card {
  padding: 0;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgba(33, 102, 212, 0.15) 0px 4px 16px;
  min-height: 480px;
  margin-top: 40px;
}

.auth .card .left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 30px 60px;
}

.auth .card .left a {
  color: rgba(255, 255, 255, .4);
  font-size: 26px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.auth .card .left a.active,
.auth .card .left a:hover,
.auth .card .left a:focus {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  text-decoration: none;
}

.auth .card form {
  padding: 30px 70px;
}

.auth .card form .form-title {
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 20px 0;
  margin: 0;
}

.auth .card form .form-group {
  padding: 5px 10px 20px 10px;
  margin-bottom: 0;
}

.auth .card form .form-control {
  border: none;
}

.auth .card form .form-control:hover,
.auth .card form .form-control:focus {
  box-shadow: rgba(33, 102, 212, 0.15) 0px 4px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
}

.auth .card form .submit {
  width: 100%;
  background-color: #4eb929;
  border: 1px solid #4eb929;
  border-radius: 5px;
  color: #fff;
  height: 70px;
  font-size: 18px;
}

form .validate-message {
  display: none;
  color: red;
  font-size: 13px;
  padding-left: 10px;
  margin-top: 10px;
}

form .form-group .input-group {
  border-radius: 5px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: box-shadow 0.3s ease, border 0.3s ease, padding 0.15s ease-out;
}

form .input-group select {
  width: calc(100% - 16px)!important;
}

form .input-group img.icon {
  position: absolute;
  right: 16px;
  z-index: 99;
  height: 6px;
}

form .form-group .input-group .label-holder {
  position: absolute;
  left: 16px;
  top: 17px;
  z-index: 99;
  color: rgb(173, 179, 193);
  font-size: 14px;
  font-weight: 500;
  pointer-events: none;
  transform-origin: left top 0px;
  transform: scale(1) translateY(0px);
  transition: transform 0.3s ease, left 0.15s ease-out;
}

form .form-group .input-group .label-holder.focus {
  transform: scale(0.85) translateY(-33px);
  background-color: #fff;
  padding: 0 5px;
  top: 20px;
  color: #888888;
  font-size: 16px;
  font-weight: 600;
}

form .form-group .input-group .form-control {
  -webkit-appearance: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    color: rgb(20, 38, 73);
    font-weight: 500;
    outline: none;
    padding: 16px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #dee2e6;
    border-image: initial;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    transition: box-shadow 0.3s ease, border 0.3s ease, padding 0.15s ease-out;
}

form .form-group .input-group .form-control.input-translate:focus {
  border: 1px solid #313131;
  box-shadow: none;
}

form .errors {
  display: none;
  color: rgb(218, 73, 49);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  background: rgb(255, 240, 238);
  border-left: 4px solid rgb(218, 73, 49);
  margin-left: 10px;
  margin-right: 10px;
}

form .errors p {
  margin: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: inherit!important;
  background-image: none !important;
  color: inherit!important;
  -webkit-box-shadow: inset 0 0 0 50px #fff!important;
}

input.error {
  color: #d93025!important;
}

.ajax-btn-holder .ajax-loading {
  color: #4eb929;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  background-image: none;
  border: none;
}

.ajax-btn-holder .ajax-loading svg,
.ajax-btn-holder .ajax-loading img,
.ajax-btn-holder .ajax-loading .fa {

}

.btn-loading,
.btn-loading:hover,
.btn-loading:focus {
  max-width: auto;
  width: auto!important;
  color: #4eb929!important;
  background-color: transparent!important;
  opacity: 1!important;
  box-shadow: none!important;
  border: none!important;
}

.flex {
  display: flex!important;
}

.dashboard-top .card {
  height: 420px;
}

.friends .friends-search-form {
  display: inline-block;
  width: 100%;
}

.friends .friends-search-form .form-group {
  float: left;
  margin: 0;
}

.friends .friends-search-form .form-group .form-control {
  background-color: transparent;
  border: none;
}

.friends .friends-search-form .form-group .form-control::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/icons/search.png');
  background-size: 16px;
  background-repeat: no-repeat;
}

.friends .friends-search-form .add-btn {
  vertical-align: middle;
  color: #394047;
  background-size: 17px;
  background-position: 9px;
  background-repeat: no-repeat;
  border-radius: 3px;
  background-color: transparent;
  padding: 8px 0;
  display: flex;
  align-items: center;  
}

.friends .friends-search-form .add-btn img {
  height: 16px;
  margin-right: 10px;
}

.friends .friends-holder .single-friend {
  padding: 20px 0;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
}

.friends .friends-holder .single-friend:hover {
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.friends .friends-holder .single-friend p {
  margin: 0;
  line-height: 30px;
}

.friends .friends-holder .single-friend .friend-abrv {
  height: 30px;
  width: 35px;
  border-radius: 3px;
  background-color: #888888;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.friends .friends-holder .single-friend:nth-child(even) .friend-abrv {
  background-color: #4eb929;
}

.friends .friends-holder .single-friend .btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  width: 40px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  background-color: #888888;
  opacity: 0;
}

.friends .friends-holder .single-friend .btn.transact_friend_btn {
  background-image: url('../svg/icons/send-white.svg');
  background-color: #377dff;
}

.friends .friends-holder .single-friend:hover .btn.hot_friend_btn {
  background-image: url('../svg/icons/hot.svg');
}

.friends .friends-holder .single-friend:hover .btn.edit_friend_btn {
  background-image: url('../svg/icons/edit.svg');
}

.friends .friends-holder .single-friend:hover .btn {
  opacity: 1;
}

.friends .friend-form {
  padding: 0 50px;
}

.friends .friend-form .header {
  padding: 20px 0 40px 0;
}

.friends .friend-form .title {
  font-size: 15px;
  text-transform: uppercase;
  color: #888;
  font-weight: 600;
}

.friends .friend-form button {
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
  height: 50px;
}

.friends #friend_edit_form .friend-profile {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #888888;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 35px;
}

/*.deposit .dashboard-top .card {
  height: auto;
  min-height: 420px;
}*/

.back {
  color: #888;
  text-transform: uppercase;
  background-image: url('../images/icons/arrow-left.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 20px;
}

.back:hover {
  color: #777;
}

.dashboard-top .balances .card {
  padding: 0;
}

#balancesSlider {
  padding: 25px;
}

.border-right {
  border-right: 1px solid #e9ecee!important;
}

.border-left {
  border-left: 1px solid #e9ecee!important;
}

.thin-text {
  font-weight: 300;
}

.no-left {
  padding-left: 0;
}

.no-right {
  padding-right: 0;
}

.green-text {
  color: #4eb929;
}

.red-text {
  color: #fe7200;
}

.grey-bg {
  background-color: #f8f9fa;
  color: #fff;
}

.blue-bg {
  background-color: #4eb929;
  color: #fff;
}

.no-margin {
  margin: 0;
}

.webkit-box {
  display: -webkit-box;
  position: relative;
}

.icon {
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.form-group {
  position: relative;
  margin-bottom: 2.5rem;
}

button:hover, button:focus, button:active {
  box-shadow: none!important;
  outline: none;
}

input[type="date"]:focus {
  box-shadow: none;
  outline: none;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../images/icons/small-chevron-down.png) center center no-repeat;
  background-size: 10px;
  color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: transparent;
    cursor: pointer;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-size: 15px;
    background: transparent;
    padding:5px 8px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.notification-holder {
  display: none;
  /*box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);*/
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: .2px;
  -webkit-align-items: center;
  align-items: center;
  background-color: #202124;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  min-height: 52px;
  padding: 8px 24px;
  padding-right: 52px;
  text-align: left;
}

.notification-holder span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  width: fit-content;
}

/*.notification-holder p.success {
  background-color: rgba(78, 185, 41, 1);
}

.notification-holder p.fail {
  background-color: #eb8820;
}*/