/* * Skin: Blue * ---------- */
.skin-blue .main-header .navbar {
    background: transparent;
}
.semi-opque-text {
    color: rgba(0, 0, 0, .5);
}
.user-panel {
    background-color: #0747A6;
}
.blue-text {
    color: #082655;
}
.white-text {
    color: #fff;
}
.skin-blue .main-header .navbar .nav > li {
    line-height: 60px;
}
.skin-blue .main-header .navbar .nav > li > a {
    color: rgba(255, 255, 255, 0.7);
}
.skin-blue .main-header .navbar .nav > li > a {
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    padding: 14px 10px;
}
.skin-blue .main-header .navbar .nav > li > a span {
    position: relative;
    top: 4px;
}
.skin-blue .main-header .navbar .nav > li > a:hover,.skin-blue .main-header .navbar .nav > li > a:active,.skin-blue .main-header .navbar .nav > li > a:focus,.skin-blue .main-header .navbar .nav .open > a,.skin-blue .main-header .navbar .nav .open > a:hover,.skin-blue .main-header .navbar .nav .open > a:focus,.skin-blue .main-header .navbar .nav > .active > a {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #222;
    background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #0747A6;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent;
}
@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
}
 .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
}
 .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #0747A6;
}
}
.skin-blue .main-header .logo {
    text-align: center;
    background-color: #fff;
    color: #222;
    border-bottom: 0 solid transparent;
}
.skin-blue .main-header li.user-header {
    background-color: #69d720;
}
.skin-blue .content-header {
    background: transparent;
}

.skin-blue .wrapper {
    background-color: #fff;
}
.skin-blue .main-sidebar,.skin-blue .left-side {
    background-color: #e8e8e8;
    box-sizing: border-box;
}
.skin-blue .user-panel > .info,.skin-blue .user-panel > .info > a {
    color: #fff;
}
.skin-blue .sidebar-menu > li.header {
    color: #000;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 10px 12px 15px;
}
.skin-blue .sidebar-menu > li > a {
    border-left: 5px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
    background: rgba(0, 0, 0, .1);
    border-left-color: transparent;
    text-decoration: none;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: rgba(9, 30, 66, 0.1);
}
.skin-blue .sidebar a {
    color: #fff;
}
.skin-blue .sidebar a:hover {
    text-decoration: none;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #fff;
}
.skin-blue .sidebar-menu .treeview-menu > li.active > a,.skin-blue .sidebar-menu .treeview-menu > li > a:hover {
    color: #ffffff;
    background: rgba(9, 30, 66, 0.1);
}
.skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],.skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
    background-color: #0747A6;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
    background-color: #3b8ab8;
}
.white-bg {
    background-color: #fff;
}
